# Buildout sources and download urls
# ====================

[component-versions]
haproxy   = 1.7.8
nginx     = 1.13.4
varnish   = 5.1.3

[downloads]
haproxy   = http://www.haproxy.org/download/1.7/src/haproxy-1.7.8.tar.gz
nginx     = http://nginx.org/download/nginx-1.13.4.tar.gz
pcre      = http://downloads.sourceforge.net/project/pcre/pcre/8.39/pcre-8.39.tar.gz
varnish   = http://repo.varnish-cache.org/source/varnish-5.1.3.tar.gz
