# Dependencies for our own and additional third party packages
# ============================================================

[versions]
<<<<<<< HEAD
zc.buildout         = 2.1.0
=======
zc.buildout                     = >= 2.2.1
setuptools                      = >= 2.2
buildout.sendpickedversions     = 1.0-alpha.1
>>>>>>> c8cee83bd06a0bf279b5c7ea55c00bf2af3533dd
